In [1]:
import pandas as pd

In [5]:
df = pd.DataFrame([[1,2,3], [4,5,6]])

In [6]:
df

   0  1  2
0  1  2  3
1  4  5  6

In [8]:
df = pd.DataFrame([[1,2,3], [4,5,6], [7,8,9]], index=['a','b','c'], columns=['x','y','z'])

In [9]:
df

   x  y  z
a  1  2  3
b  4  5  6
c  7  8  9

In [10]:
df.T

   a  b  c
x  1  4  7
y  2  5  8
z  3  6  9

In [20]:
df['x']

a    1
b    4
c    7
Name: x, dtype: int64

In [21]:
df.loc[:,'x']

a    1
b    4
c    7
Name: x, dtype: int64

In [22]:
df.loc['a','x']

1

In [23]:
df['a':'b']

   x  y  z
a  1  2  3
b  4  5  6

In [25]:
df[:2]

   x  y  z
a  1  2  3
b  4  5  6

In [28]:
df[['x','y']]

   x  y
a  1  2
b  4  5
c  7  8

In [31]:
df.loc[:, ['x','y']]

   x  y
a  1  2
b  4  5
c  7  8

In [32]:
df.iloc[0,0]

1

In [33]:
df.iloc[:2, :2]

   x  y
a  1  2
b  4  5

In [35]:
df.iloc[1:2]

   x  y  z
b  4  5  6

In [37]:
df.iloc[1:2, 2]

b    6
Name: z, dtype: int64

In [38]:
df.loc['b':'c']

   x  y  z
b  4  5  6
c  7  8  9

In [39]:
df.loc['b':'c', ['x', 'z']]

   x  z
b  4  6
c  7  9

In [40]:
df.loc['b':'c', ['x', 'z']] = 0

In [49]:
ndf = df[1:2]

ndf.iloc[0]['x']

0