- `SET` column values that consist of multiple set members are specified with members separated by commas (,). A consequence of this is that `SET` member values should not themselves contain commas.
- A `SET` column can have a maximum of 64 distinct members.
- Duplicate values in the definition cause a warning, or an error if strict SQL mode is enabled.
- Trailing spaces are automatically deleted from SET member values in the table definition when a table is created.
- When retrieved, values stored in a SET column are displayed using the lettercase that was used in the column definition. Note that SET columns can be assigned a character set and collation. For binary or case-sensitive collations, lettercase is taken into account when assigning values to the column.
- When fequently select by `SET` value, Don't use SET because the "select events by category" query will be slow.